/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#main-title {
  padding: 200px 100px 200px 100px;
  color: white;
  background-image: url("/apple-pie/images/apple-pie.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 50px;
  margin: 0px 0px 25px 0px;
}

#introduction {
  padding: 20px 0px 20px 0px;;
  margin: 0px 50px 0px 50px;
}

img {
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  padding: 20px 0px 20px 0px;
  margin: 0px 50px 0px 50px;

}

#ingredients li{
  margin: 0px 50px 0px 50px;
  list-style-type: "- ";
  padding-left: 20px;
  list-style-position: inside;
  content: "-";
}

hr {
  margin: 0px 50px 0px 50px;
}

#directions li {
  margin: 0px 50px 0px 50px;
  list-style-type: none;
}

#directions {
  margin: 0px 0px 50px 0px;
}



